* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
  font-family: 'Bevan', cursive;
  font-weight: normal;
}

body,
input,
textarea {
  font-family: 'Bevan', sans-serif;
  background-color: black;
  overflow-x: hidden;

}

header {
  padding: 15px 0;
  background-color: #ad0404;
  color: #ecf0f1;
}

header:hover {
  color: #ff9d00;
}

header nav li {
  display: inline;
  margin-left: 16px;
  color: #ecf0f1;
  font-size: 18px;

}

header nav li a {
  color: #ecf0f1;
  text-decoration: none;
}

nav ul li a span {
  transition: color 0.3s;
}

nav ul li a span:hover {
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.brands-list img {
  height: 50px;
}

.brands-list li {
  display: inline;
  padding: 10px;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 16px;
}

section {
  color: #fff;
}

section p {
  margin-bottom: 8px;
}

.store-front {
  width: 1000px;
  height: auto;
  margin-top: 10px;
}

#cont {
  position: fixed;
  top: 0;
  left: 40%;
  width: 100%;
}

.cont2 {
  width: 20%;
  margin: auto;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 50px
}

.ImgRed {
  width: 1000px;
  height: auto;
}

.social-links img {
  height: 50px;

}

.social-links li {
  display: inline;
  margin-right: 8px;

}

.social-links li a {
  text-decoration: none;
}

#contact .container {
  display: block;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
}

form input,
form textarea,
form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
}

form textarea {
  resize: none;
  height: 180px;
}

section h3 {
  margin-bottom: 16px;
}

form button {
  background-color: #ad0404;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #ad0404;
}

input:focus,
textarea:focus {
  outline-color: #ad0404;
}

footer {
  background-color: #ad0404;
  color: #ecf0f1;
  padding: 16px 0;
}

.ender,
.social-links {
  margin-left: 45%;
  padding: 8px;
}

.copy {
  margin-left: 10%;
  padding: 8px;
}

.voltar-button {
  background-color: #ad0404;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10%;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.voltar-button:hover {
  background-color: #731111;
}

#requic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.text {
  text-align: center;
}


